@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
input {
  border-color: hsl(270deg, 3%, 87%);
}
input::-moz-placeholder {
  color: hsl(270deg, 3%, 87%) !important;
}
input:-ms-input-placeholder {
  color: hsl(270deg, 3%, 87%) !important;
}
input::placeholder {
  color: hsl(270deg, 3%, 87%) !important;
}
input:focus {
  box-shadow: none !important;
  border-color: purple !important;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.invalid-input {
  color: hsl(0deg, 0%, 100%);
  font-size: 10.2857142857px;
}

.front-card {
  position: relative;
  color: hsl(0deg, 0%, 100%);
  font-size: calc(13.5px * var(--scale));
  letter-spacing: 2px;
  top: 16%;
  left: 30%;
  max-width: 25vw;
}
.front-card img {
  width: 100%;
}
.front-card .card-number {
  font-size: calc(21.6px * var(--scale));
  position: absolute;
  bottom: calc(4.5rem * var(--scale));
  left: calc(3.5rem * var(--scale));
  padding: 0;
  margin: 0;
}
.front-card .cardholder-name {
  position: absolute;
  bottom: calc(0.45rem * var(--scale));
  left: calc(3.5rem * var(--scale));
}
.front-card .exp-date {
  position: absolute;
  bottom: calc(0.45rem * var(--scale));
  right: calc(4.5rem * var(--scale));
}
.front-card .card-logo {
  width: 18%;
  position: absolute;
  top: calc(1rem * var(--scale));
  left: calc(3.5rem * var(--scale));
}

.back-card {
  position: relative;
  color: hsl(0deg, 0%, 100%);
  font-size: calc(14.4px * var(--scale));
  letter-spacing: 2px;
  top: 20vh;
  left: 15vw;
  max-width: 25vw;
}
.back-card p {
  position: absolute;
  right: 15%;
}
.back-card img {
  width: 100%;
}

@media (max-width: 576px) {
  .front-card {
    max-width: 75vw;
    z-index: 1;
    font-size: 9px;
    left: 0;
    margin: 0;
    top: 18vh;
  }
  .front-card .card-number {
    font-size: 16.2px;
    bottom: 2.75rem;
    left: 1.75rem;
    padding: 0;
    margin: 0;
  }
  .front-card .cardholder-name {
    bottom: 0.25rem;
    left: 1.75rem;
  }
  .front-card .exp-date {
    bottom: 0.25rem;
    right: 10%;
  }
  .front-card .card-logo {
    top: 1rem;
    left: 1.75rem;
  }
  .back-card {
    font-size: 9px;
    top: -15.5vh;
    left: 2rem;
    position: relative;
    max-width: 75vw;
  }
  .back-card p {
    position: absolute;
    right: calc(3rem * var(--scale));
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .front-card {
    max-width: 60vw;
    z-index: 1;
    font-size: 2vw;
    left: 3rem;
    margin: 0;
    top: 25vh;
  }
  .front-card .card-number {
    font-size: 3.5vw;
    bottom: 30%;
    left: 9%;
    padding: 0;
    margin: 0;
  }
  .front-card .cardholder-name {
    bottom: 6%;
    left: 9%;
  }
  .front-card .exp-date {
    bottom: 6%;
    right: 15%;
  }
  .front-card .card-logo {
    top: 1rem;
    left: 9%;
  }
  .back-card {
    font-size: 15.3px;
    top: -35%;
    left: 10%;
    position: relative;
    max-width: 60vw;
  }
  .back-card p {
    position: absolute;
    right: 15%;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.success {
  display: none;
}

.thanks {
  font-size: 31.5px;
}

.inform {
  color: hsl(279deg, 6%, 55%);
}

:root {
  --scale: 1;
}

body {
  color: hsl(278deg, 68%, 11%);
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

.card-section {
  background-image: url("../images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

@media (max-width: 576px) {
  .card-section {
    background-image: url("../images/bg-main-mobile.png");
    height: 35vh;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .card-section {
    background-image: url("../images/bg-main-mobile.png");
    height: 40vh;
    width: 100vw;
  }
}
.form-section {
  padding-left: 22vw;
  padding-right: 16vw;
  height: 100vh;
}

@media (max-width: 576px) {
  .form-section {
    padding: 0 1rem;
    height: auto;
    margin-top: 13vh;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .form-section {
    padding: 0;
    height: 50vh;
    margin: auto;
    margin-top: 5vh;
    max-width: 60vw;
  }
}
.form-label {
  font-size: 10.8px;
  letter-spacing: 1.5px;
}

.btn {
  width: 100%;
  background-color: hsl(278deg, 68%, 11%);
  border: none;
  color: hsl(0deg, 0%, 100%);
}
.btn:hover {
  background-color: hsl(278deg, 68%, 11%);
}
.btn:focus {
  background-color: hsl(278deg, 68%, 11%);
}/*# sourceMappingURL=styles.css.map */