.front-card{
    position: relative;  
    color: $white;      
    font-size: $font_size *0.75;    
    letter-spacing: 2px;
    left: 9.5rem;
    top: 8rem;

    & .card-number{
        font-size: $font_size * 1.5;        
        position: absolute;
        bottom: 4.5rem;
        left: 3.5rem;
        padding: 0;
        margin: 0;
    }

    & .cardholder-name{        
        position: absolute;
        bottom: 0.5rem;
        left: 3.5rem;
    }

    & .exp-date{
        position: absolute;
        bottom: 0.5rem;
        right: 4.5rem;
    }

    & .card-logo{
        position: absolute;
        top: 1rem;
        left: 3.5rem;
    }
}

.back-card{
    position: relative;
    color: $white;
    font-size: $font_size *0.75;
    letter-spacing: 2px;
    top: 10rem;
    left: 15rem;

    & p{
        position: absolute;
        right: 4.5rem;
        bottom: 5.95rem;
    }
}

    
