@media (min-width: 576px) and (max-width: 992px){
    $frontcard-left: 9%;
    $frontcard-bottom: 6%;  
    $width-card: 60vw;  

    .front-card{            
        max-width: $width-card;
        z-index: 1;                
        font-size: 2vw;               
        left: 3rem;
        margin: 0;                      
        top: 25vh;        

        & .card-number{
            font-size: 3.5vw;                    
            bottom: 30%;
            left: $frontcard-left;
            padding: 0;
            margin: 0;
        }
    
        & .cardholder-name{                    
            bottom: $frontcard-bottom;
            left: $frontcard-left;
        }
    
        & .exp-date{            
            bottom: $frontcard-bottom;
            right: 15%;
        }
    
        & .card-logo{                       
            top: 1rem;
            left: $frontcard-left;            
        }
    }
    
    .back-card{        
        font-size: $font_size * 0.85;              
        top: -35%;       
        left: 10%;     
        position: relative;
        max-width: $width-card;
                 
        
        & p{
            position: absolute;
            right: 15%;            
        }
    }  
}
    
