input{           
    &::placeholder{
        color: $light_grayis_violet !important;
    }

    &:focus{        
        box-shadow: none !important;       
        border-color: purple !important;         
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.invalid-input{
    color: $white;
    font-size: $font_size / 1.75;    
}