@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
@import 'variables';
@import 'input';
@import 'card';
@import 'card_small';
@import 'card_medium';
@import 'attribution';
@import 'success';

:root{
    --scale: 1;
}

body{
    color: $very_dark_violet;
    font-family: 'Space Grotesk', sans-serif;
    font-size: $font_size;        
}

.card-section{
    background-image: url("../images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: 100vh;    
}

@media (max-width: 576px){
    .card-section{
        background-image: url("../images/bg-main-mobile.png");          
        height: 35vh;                 
    }    
}

@media (min-width: 576px) and (max-width: 992px) {
    .card-section{
        background-image: url("../images/bg-main-mobile.png");          
        height: 40vh;   
        width: 100vw;                   
    }     
}


.form-section{          
    padding-left: 22vw;
    padding-right: 16vw;  
    height: 100vh;    
}

@media (max-width: 576px){
    .form-section{            
        padding: 0 1rem;                   
        height: auto;    
        margin-top: 13vh;
    }   
}

@media (min-width: 576px) and (max-width: 992px){
    .form-section{    
        padding: 0;           
        height: 50vh;    
        margin: auto;        
        margin-top: 5vh;
        max-width: 60vw;
    }   
}

.form-label{
    font-size: $font_size * 0.6;
    letter-spacing: 1.5px;    
}

.btn{
    width: 100%;    
    background-color: $very_dark_violet;
    border: none;
    color: $white;

    &:hover{
        background-color: $very_dark_violet;
    }
    
    &:focus{
        background-color: $very_dark_violet;        
    }

}

