@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
@import 'variables';
@import 'input';
@import 'card';

body{
    color: $very_dark_violet;
    font-family: 'Space Grotesk', sans-serif;
    font-size: $font_size;    
}

.card-section{
    background-image: url("../images/bg-main-desktop.png");
    background-repeat: no-repeat;
}

.form-section{    
    padding-left: 22rem;
    padding-right: 18rem;
    margin-top: 25vh;    
    height: 100vh;    

}

.form-label{
    font-size: $font_size * 0.6;
    letter-spacing: 2px;
}

.btn{
    width: 100%;    
    background-color: $very_dark_violet;
    border: none;
    color: $white;

    &:hover{
        background-color: $very_dark_violet;
    }
    
    &:focus{
        background-color: $very_dark_violet;        
    }

}

.valid-form{
    display: none;    
}

    
